<div class="container">
    <div class="d-flex justify-content-center" style="font-family: Trirong, serif">
        <a class="nav-link w-100 p-3 text-md-center" style="font-weight: bold;font-size: xx-large;">World</a>
    </div>
    <hr />
    <!-- world news card -->
    <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
            <div class="col-md-4 mb-md-0 p-md-4">
                <img src="../../../../assets/news/4.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title title-front">Card Title</h5>
                    <p class="card-text card-contain-text">This is a wider card with supporting text below as a natural
                        lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-mid-containt">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-mid-containt">
        <div class="card" style="width: 18rem;">
            <!-- <img src="" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text">
                    <a href="#" class="stretched-link text-danger" style="position: relative;"></a>
                </p>
                <p class="card-text bg-light" style="transform: rotate(0);">
                    <a href="#" class="text-warning stretched-link"></a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
    <hr />
    <!-- Retailer releated chart give -->
    <div>
        <div class="sub-header">Retail</div>
    </div>
    <div class="mt-mid-containt">

        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- Telecome -->
    <div>
        <div class="sub-header">Telecome</div>
    </div>
    <div class="mt-mid-containt">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- Media -->
    <div>
        <div class="sub-header">Media</div>
    </div>
    <div class="mt-mid-containt">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/news/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title title-front">Card with stretched links</h5>
                <p class="card-text card-contain-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
                <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                        style="color:deepskyblue ;"> Ravi</a></p>
                <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text card-contain-text">Some quick example text to build on the card title and make
                        up the bulk of the card's content.</p>
                    <p class="card-text" style="font-family: 'Sofia, sans-serif';font-style: italic;">by<a
                            style="color:deepskyblue ;"> Ravi</a></p>
                    <div style="display: flex; justify-content: space-between;" class="card-contain-text">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted">25-Sep-2023</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- video -->
    <div>
        <div class="sub-header">Video</div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../assets/news/5.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <p class="card-text card-contain-text">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text card-contain-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../assets/news/5.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <p class="card-text card-contain-text">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text card-contain-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../assets/news/5.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title title-front">Card title</h5>
                    <p class="card-text card-contain-text">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text card-contain-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>