<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" #myForm="ngForm" name="form" (ngSubmit)="myForm.form.valid && onSubmit()">

                  <!-- User's Name -->
                  <div class="mb-4">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user fa-lg me-3 fa-fw"></i></span>
                      <input type="text" id="name" class="form-control" [(ngModel)]="formData.name" name="name" required
                        #name="ngModel" placeholder="User Name" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': myForm.submitted && name.errors }" />
                    </div>
                    <div class="text-danger " *ngIf="myForm.submitted && name.errors">
                      <div *ngIf="name?.errors?.['required']">Name is required.</div>
                    </div>
                  </div>

                  <!-- Email -->
                   <div class="mb-4">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-envelope fa-lg me-3 fa-fw"></i></span>
                      <input type="email" id="form3Example3c" class="form-control" [(ngModel)]="formData.email"
                        email="email" #email="ngModel" required [ngClass]="{ 'is-invalid': myForm.submitted && email.errors }" 
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" placeholder="Your Email"
                        [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="text-danger "
                      *ngIf="myForm.submitted && email.errors">
                      <div *ngIf="email.errors?.['required']">Email is required.</div>
                      <div *ngIf="email?.errors?.['pattern']">Invalid email format.</div>
                    </div>
                  </div>

                  <!-- Password -->
                   <div class="mb-4">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-lock fa-lg me-3 fa-fw"></i></span>
                      <input type="password" id="form3Example4c" class="form-control" [(ngModel)]="formData.password"
                        password="password" #password="ngModel" required minlength="8" placeholder="Password"
                        [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': myForm.submitted && password.errors }"  />
                    </div>
                    <div class="text-danger"
                      *ngIf="myForm.submitted && password.errors ">
                      <div *ngIf="password?.errors?.['required']">Password is required.</div>
                      <div *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long.</div>
                    </div>
                  </div> 

                  <!-- Confirm Password -->
                  <div class="mb-4">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-key fa-lg me-3 fa-fw"></i></span>
                      <input type="password" id="form3Example4cd" class="form-control"
                        [(ngModel)]="formData.confirmPassword" confirmPassword="confirmPassword" required minlength="8"
                        #confirmPassword="ngModel" placeholder="Confirm your password" [ngClass]="{ 'is-invalid': myForm.submitted && confirmPassword.errors }" 
                        [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="text-danger"
                      *ngIf="myForm.submitted && confirmPassword.errors">
                      <div *ngIf="confirmPassword?.errors?.['required']">Confirmation password is required.</div>
                      <div *ngIf="formData.password !== formData.confirmPassword">Passwords do not match.</div>
                      
                    </div>
                  </div> 

                  <!-- Terms of Service Checkbox -->
                   <div class="form-check mb-5">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example3c" required />
                    <label class="form-check-label" for="form2Example3">
                      I agree to all statements in <a href="#!">Terms of Service</a>
                    </label>
                  </div> 

                  <!-- Submit Button -->
                  <div class="text-center mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg"
                      [disabled]="!myForm.form.valid">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>